.*
!/.gitignore
venv_*
Logistic regression demo-checkpoint.ipynb
decision_trees/venv_trees
random_forest/venv_rforest
gradient_boosting/.ipynb_checkpoints
gradient_boosting/venv_gbm
scikit_pipelines/data/bbc
scikit_pipelines/venv_pipelines
quora.csv
